mat-form-field {
  width: 100%;
}

.actions {
  justify-content: end;
  padding: 1.5rem;
}

.error {
  color: red;
  font-size: small;
  padding-bottom: 20px;
}

.add-other-btn {
  margin-bottom: 10px;
}